// primary
$color-primary: #317EF6;
$color-dark: #222;
$color-bg: #fff;
$color-light: #f3f3f5;

$color-text-regular: #323232;
$color-text-light: #aaa;
$color-text-white: #fff;

$color-label-purple: #d4ccf3;
$color-label-green: #bfded3;
$color-label-blue: #c2ddf1;
