$font-family-default: 'SF UI Display', Tahoma, Arial, sans-serif;
$font-family-secondary: '';

$font-size-default-value: 17;

$font-size-heading: 24px;
$font-size-default: #{$font-size-default-value}px;

$line-height-heading: 23px;
$line-height-default: 20px;

$font-weight-normal: 400;
$font-weight-semibold: 600;
